@charset "utf-8";

@import "module/var";
@import "module/normalize";
@import "module/article";
@import "module/code";
@import "module/tag-cloud";
@import "module/theme-selector";

body {
  color: $font-color-default;
  -webkit-transition: background ease-in-out $theme-transition-time;
  -moz-transition: background ease-in-out $theme-transition-time;
  -ms-transition: background ease-in-out $theme-transition-time;
  -o-transition: background ease-in-out $theme-transition-time;
  transition: background ease-in-out $theme-transition-time;
  background-color: $body-background;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  > div {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    -webkit-transition: opacity ease-in-out $theme-transition-time;
    -moz-transition: opacity ease-in-out $theme-transition-time;
    -ms-transition: opacity ease-in-out $theme-transition-time;
    -o-transition: opacity ease-in-out $theme-transition-time;
    transition: opacity ease-in-out $theme-transition-time;
  }

  &.hide > div {
    opacity: 0;
  }
}

#site-nav {
  ul {
    &::before {
      content: '[';
      margin-right: 10px;
      vertical-align: text-top;
    }

    &::after {
      content: ']';
      margin-left: 10px;
      vertical-align: text-top;
    }
  }

  li {
    vertical-align: middle;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  a {
    display: block;
  }
}

#index-mastfoot,
#page-mastfoot {
  font-size: 0.75rem;
  line-height: 1.6;
  color: $footer-font-color;

  a {
    text-decoration: underline;
  }
}

// index
// =====
#index-main-container {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
  font-size: 1.125rem;
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px 5px #000000;

  #site-nav {
    margin-top: 50px;
  }

  p {
    line-height: 30px;
    margin: 10px 0;
  }
}

#index-mastfoot {
  position: absolute;
  left: 50%;
  bottom: 10px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  white-space: nowrap;
}

// pages
// =====
#page-mastfoot {
  padding-top: 50px;
  padding-bottom: 15px;
  text-align: center;
}

#page-masthead > div,
#page-main-inner-wrap {
  width: 80%;
  max-width: 700px;
  //overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

#page-main-inner-wrap {
  margin-bottom: 50px;
}

#page-masthead {
  padding-top: 10px;
  margin-bottom: 0;
  line-height: 30px;
  font-size: .875rem;
  color: $top-nav-link-color;
  height: 60vh;
  overflow: hidden;
  background-color: #333333;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  #page-logo {
    margin-right: 50px;

    &:hover {
      text-decoration: none;
    }
  }

  img {
    width: 20px;
    vertical-align: middle;
    box-shadow: none;
  }

  #site-nav {
    display: inline-block;

    ul::before {
      vertical-align: middle;
    }

    ul::after {
      vertical-align: middle;
    }

    li:not(:last-child) {
      margin-right: 20px;
    }
  }
}

#page-main-container {
  margin-top: -30vh;
}

#page-title-header,
#post-title-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  color: #fdfdfd;
  text-shadow: 2px 2px 5px #000;

  .post-meta {
    color: inherit;
  }

  //@media (max-width: $screen-xs) {
  //  top: -4vh;
  //}
}

#page-content {
  position: relative;
  padding-top: 36vh;
  min-height: 80vh;
}

#page-subtitle {
  line-height: 1.4;

  a {
    color: $article-link-color;
  }
}

#page-article-list {
  &[data-content]::before {
    content: attr(data-content);
    display: block;
    margin-bottom: 20px;
  }

  section:not(:last-child) {
    margin-bottom: 40px;
  }

  h2 {
    margin-bottom: 20px;
  }

  article {
    &:not(:last-child) {
      margin-bottom: 20px;
    }

    h3 {
      font-weight: normal;
    }
  }
}

@media (max-width: 767px) and (orientation: portrait) {
  #page-main-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  #page-masthead,
  #page-main-inner-wrap {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  #page-masthead #page-logo {
    display: none;
  }

  #page-masthead #site-nav {
    ul {
      display: table;
      width: 100%;
      table-layout: fixed;
      line-height: 40px;
      text-align: center;
    }

    li {
      display: table-cell;
    }

    a,
    a:hover,
    li.active a {
      border-bottom: none;
    }
  }

  #page-content {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@import "module/theme";