@charset "utf-8";

@import "module/var";
@import "module/normalize";

#main-container {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
  font-size: 18px;
  text-align: center;

  p {
    line-height: 30px;
    margin: 10px 0;
  }
}

#site-nav {
  margin-top: 50px;

  ul {
    color: $home-link-color;

    &::before {
      content: '[';
      margin-right: 10px;
      vertical-align: text-top;
    }

    &::after {
      content: ']';
      margin-left: 10px;
      vertical-align: text-top;
    }
  }

  li {
    vertical-align: middle;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  a:hover {
    color: $link-hover-color;
  }
}

#mastfoot {
  position: absolute;
  left: 50%;
  bottom: 10px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 12px;
  color: $footer-font-color;
  line-height: 20px;
  white-space: nowrap;

  a {
    text-decoration: underline;
  }
}
