@charset "utf-8";

@import "bourbon/bourbon";
@import "lib/_variable";
@import "lib/_mixin-func";
@import "lib/_common";
@import "lib/_normalize";

// 全局字体大小
html {
  font-size: 16px;
  line-height: 1.8;

  @media (min-width: 767px){
    font-size: 14px;
  }
}

body {
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
  font-size: inherit;
  color: $font-color-default;
  line-height: inherit;
}

#masthead {
  margin-bottom: 80px;
}

main {
  position: relative;
  overflow: hidden;

  @media (min-width: $screen-sm) and (min-height: 700px) {
    min-height: calc(100vh - 550px);
  }
}

#page-title {
  font-size: 2em;
}

#page-subtitle {
  width: 70%;
}

#mastfoot {
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 14px;
  text-align: center;
  color: $gray;

  a {
    color: $link-color-default;
  }
}

@import "modules/nav";
@import "modules/pagination";
@import "modules/article";
@import "modules/post-format";
@import "modules/highlight";
@import "pages/_archive";
@import "pages/_tag-cloud";
@import "pages/_tag-post-list";
@import "modules/page-transition";
