@charset "utf-8";

@import "module/var";
@import "module/normalize";
@import "module/article";
@import "module/code";
@import "module/tag-cloud";

$basic-transition-time: 0.4s;

img {
  max-width: calc(100% - 10px);
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}

#main-container {
  overflow: hidden;
}

#masthead,
#main-inner-wrap {
  width: 80%;
  max-width: 700px;
  overflow: hidden;
  margin: 50px auto;
}

#masthead {
  margin-top: 10px;
  margin-bottom: 0;
  line-height: 30px;
  font-size: 14px;
  color: $top-nav-link-color;

  > a {
    margin-right: 50px;

    &:hover {
      text-decoration: none;
    }
  }

  img {
    width: 20px;
    vertical-align: middle;
    box-shadow: none;
  }
}

#site-nav {
  display: inline-block;
  text-align: center;

  ul {
    &::before {
      content: '[';
      margin-right: 20px;
      vertical-align: top;
    }

    &::after {
      content: ']';
      margin-left: 20px;
      vertical-align: top;
    }
  }

  li {
    vertical-align: middle;
  }

  li:not(:last-child) {
    margin-right: 20px;
  }

  a {
    display: block;
  }
}

#page-content {
  overflow: hidden;
  min-height: 60vh;
}

#page-subtitle a {
  color: $article-link-color;
}

#back-to-top {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 20px;
  color: $back-to-top-color;

  &:hover {
    color: $back-to-top-hover-color;
  }
}

#page-article-list {
  margin-top: 50px;

  &::before {
    content: attr(data-content);
    display: block;
    margin-bottom: 20px;
  }

  section:not(:last-child) {
    margin-bottom: 40px;
  }

  h2 {
    margin-bottom: 20px;
  }

  article {
    &:not(:last-child) {
      margin-bottom: 20px;
    }

    h3 {
      font-weight: normal;
    }
  }

  .post-meta {
    margin-bottom: 0;
  }
}

#mastfoot {
  padding-top: 50px;
  padding-bottom: 15px;
  font-size: 12px;
  line-height: 1.6;
  color: $footer-font-color;
  text-align: center;

  a {
    text-decoration: underline;
  }
}

@media (max-width: 767px) and (orientation: portrait) {
  #main-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  #masthead,
  #main-inner-wrap {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  #masthead > a {
    display: none;
  }

  #site-nav {
    ul {
      display: table;
      width: 100%;
      table-layout: fixed;
      line-height: 40px;
    }

    li {
      display: table-cell;
    }

    a,
    a:hover,
    li.active a {
      border-bottom: none;
    }
  }

  #page-content {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}