<main>
    <div class="content-wrap">
        <div id="index-article-list">
            <% page.posts.each(function(post){ %>
                <%- partial('_partial/article', {post: post, index: true}, {cache: true}) %>
            <% }) %>
        </div>

        <%- partial('_partial/pagination', {}, {cache: true}) %>
    </div>
</main>
