<main>
    <div class="content-wrap">
        <% if (page.type === 'tag-cloud'){ %>
        <div id="tag-cloud" class="container">
            <p id="total-tag-num">共有 <%= site.tags.length %> 个标签</p>
            <div id="tag-cloud-list">
                <%- tagcloud(site.tags, {
                    max_font: 30,
                    min_font: 14,
                    color: true,
                    start_color: "rgba(0,0,0,.4)",
                    end_color: "rgba(0,0,0,1)"
                }) %>
            </div>
        </div>
        <% }else {%>
        <div id="article-post">
            <%- partial('_partial/article', {post: page}, {cache: true}) %>
        </div>
        <% } %>
    </div>
</main>
