<main>
    <div class="content-wrap">
        <div id="tag-post-list" class="container">
            <!--<p id="total-tag-post-num">该标签下共有  /*page.posts.length*/  篇文章</p>-->
            <div id="tag-post-list-body">
                <ul class="list-unstyled">
                    <% page.posts.each(function(post){ %>
                    <li><a href="<%- url_for(post.path) %>"><time><%= date(post.date, 'YYYY-M-D') %></time> <%= post.title %></a></li>
                    <% }) %>
                </ul>
            </div>
            <%- partial('_partial/pagination', {}, {cache: true}) %>
        </div>
    </div>
</main>
