<div id="page-article-list" data-content="共 <%= page.posts.length %> 篇文章">
    <% page.posts.each(function(post){ %>
    <article>
        <h3><a href="<%- url_for(post.path) %>"><%= post.title %></a></h3>
        <time><%= date(post.date, 'YYYY-MM-DD') %></time>
    </article>
    <% }) %>
</div>
