@charset "utf-8";

#archive-list {
  position: relative;
}

%style {
  content: "";
  display: block;
  width: $time-line-out-width;
  height: $time-line-width;
  background-color: $time-line-color;
}

#archive-total-num,
#time-line-end {
  position: relative;
  font-size: .9em;
  color: $gray-dark;
}

#archive-total-num::after {
  @extend %style;
  margin-top: 5px;
}

#time-line-end::before {
  @extend %style;
  margin-bottom: 5px;
}

#archive-list-inner-box {
  position: relative;
  margin-left: $time-line-out-width/2 - 1;
  border-left: 2px solid $time-line-color;
  padding-left: $time-line-out-width;

  section {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;

    &:not(:last-child)::after {
      content: "";
      display: block;
      width: 200px;
      position: absolute;
      left: -$time-line-out-width;
      bottom: 0;
      border-bottom: 2px dashed $time-line-color;
    }
  }

  h2,
  ul li {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      @include transform(translateY(-50%));
      background-color: $time-line-color;
      border-radius: 50%;
    }
  }

  h2 {
    margin-bottom: 20px;
    font-size: 1.6em;

    &::before {
      width: $time-line-out-width - $time-line-width * 2;
      height: $time-line-out-width - $time-line-width * 2;
      left: -($time-line-out-width + ($time-line-out-width - $time-line-width * 2)/2 + 1);
    }
  }

  li {
    margin-bottom: 10px;
    color: #999;

    &::before {
      width: 10px;
      height: 10px;
      left: -($time-line-out-width + 6);
    }

    a {
      @include transition(all .2s);

      &:hover {
        color: $link-color-default;
        text-decoration: none;
      }
    }

    time {
      font-size: 0.8em;
    }
  }
}

#archive-year-nav {
  position: absolute;
  top: 30px;
  right: 0;

  @media (max-width: $screen-sm - 1){
    display: none;
  }

  li {
    margin-bottom: 5px;
  }

  a {
    padding: 3px 0 3px 10px;
    border-left: 2px solid transparent;
    @include transition(all .2s);

    &:hover,
    &.active {
      border-left-color: $theme-color;
      text-decoration: none;
    }
  }
}