@charset "utf-8";

#total-tag-num {
  margin-bottom: 30px;
  font-size: .9em;
  color: $gray-dark;
  text-align: center;
}

#tag-cloud-list {
  text-align: center;

  a {
    display: inline-block;
    position: relative;
    margin: 10px;
    border-bottom: 2px solid transparent;
    font-size: 0.8em;
    color: $gray;
    line-height: 30px;

    &,
    &::after {
      @include transition(all .2s);
    }

    &::after {
      content: "";
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $gray;
    }

    &:hover {
      color: $link-color-default;
      text-decoration: none;

      &::after {
        background-color: $link-color-default;
      }
    }
  }

  //@for $i from 1 through 5 {
  //  .tag-weight-#{$i} {
  //    color: darken($gray, $i * 10);
  //    font-size: $i * 0.1 + 1em;
  //  }
  //}
}