@charset "utf-8";

#page-subtitle + #article-post {
  margin-top: 50px;
}

#page-title {
  margin-top: 10vh;
  font-size: 2rem;
}

#page-content {
  line-height: 1.8;
}

#page-title + .post-meta {
  margin-top: 15px;
}

.post-meta {
  margin-bottom: 60px;
  font-size: 14px;
  color: $article-meta-color;

  > li {
    display: block;
  }

  @media (min-width: $screen-sm) {
    > li {
      display: inline-block;

      &:not(:last-child)::after {
        content: "|";
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }
}

.post-tags-list {
  @extend .list-inline;

  &::before {
    content: "标签：";
  }

  li:not(:last-child)::after {
    content: ",";
    margin-right: 5px;
  }
}

#article-post {
  .post-inner-wrap {
    position: relative;
    overflow: hidden;

    &::after {
      content: "— 完 —";
      display: block;
      margin-top: 50px;
      margin-bottom: 50px;
      text-align: center;
      color: $article-end-color;
      font-size: 14px;
    }
  }

  a {
    text-decoration: underline;
  }

  h2, h3, h4 {
    margin-top: 25px;
  }

  blockquote {
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 15px;
    padding-right: 15px;
    border-left: 5px solid $article-quote-border-left-color;
    color: $article-quote-color;

    footer > * {
      margin-right: 5px;
    }
  }

  .content {
    > * {
      margin-bottom: 15px;
    }

    img {
      margin-top: 25px;
      margin-bottom: 25px;

      &.has-info + p {
        margin: -20px 20% 25px;
        text-align: center;
        font-style: italic;
        font-size: 12px;
      }
    }

    a {
      color: $article-link-color;
    }
  }
}

#article-nav {
  padding-bottom: 80px;
  color: $article-nav-color;
  line-height: 20px;
  font-size: 14px;

  li {
    margin-bottom: 10px;

    &:last-child {
      text-align: left;
    }

    // 链接
    a {
      display: inline-block;
      padding-bottom: 10px;
      position: relative;
      -webkit-transition: color $basic-transition-time;
      -moz-transition: color $basic-transition-time;
      -ms-transition: color $basic-transition-time;
      -o-transition: color $basic-transition-time;
      transition: color $basic-transition-time;

      &::before,
      &::after {
        display: block;
      }

      &::before {
        float: left;
        width: 20px;
        height: 20px;
        margin-right: 5px;
        border-radius: 50%;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
      }

      &.prev::before {
        content: "<";
      }

      &.next::before {
        content: ">";
      }

      &::after {
        content: attr(data-title);
        overflow: hidden;
      }

      &:hover {
        color: $article-nav-hover-color;
        text-decoration: none;
      }
    }
  }
}