@charset "utf-8";

#page-subtitle + #article-post {
  margin-top: 50px;
}

#page-title {
  font-size: 2rem;
}

#page-content {
  line-height: 1.8;
}

#article-post {
  .post-inner-wrap {
    position: relative;
    overflow: hidden;

    &::after {
      content: "— 完 —";
      display: block;
      margin-top: 50px;
      margin-bottom: 50px;
      text-align: center;
      color: $gray;
      font-size: 14px;
    }
  }

  .post-meta {
    margin-bottom: 40px;
    font-size: 14px;
    color: #4f7a94; //$gray-dark;

    > li {
      display: block;
    }

    @media (min-width: $screen-sm) {
      > li {
        display: inline-block;

        &:not(:last-child)::after {
          content: "|";
          margin-left: 5px;
          margin-right: 5px;
        }
      }
    }
  }

  .post-tags-list {
    @extend .list-inline;

    &::before {
      content: "标签：";
    }

    li:not(:last-child)::after {
      content: ",";
      margin-right: 5px;
    }
  }

  a {
    text-decoration: underline;
  }

  h2, h3, h4 {
    margin-top: 25px;
  }

  .content {
    > * {
      margin-bottom: 15px;
    }

    a {
      color: #09f;
    }
  }
}

// 文章导航
#article-nav {
  padding-bottom: 80px; // 为文章标题留内容
  color: $gray-dark;
  line-height: 20px;

  @media (max-width: $screen-sm - 1) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: $screen-sm) {
    text-align: center;
  }

  li {
    margin-bottom: 10px;

    @media (min-width: $screen-sm) {
      display: inline-block;
      width: 45%;
    }

    &:first-child {
      @media (min-width: $screen-sm) {
        margin-right: 5%;
        text-align: right;

        a::after {
          right: 0;
        }
      }
    }

    &:last-child {
      text-align: left;

      @media (min-width: $screen-sm) {
        a::after {
          left: 0;
        }
      }
    }

    // 链接
    a {
      display: block;
      padding-bottom: 10px;
      position: relative;
      -webkit-transition: color .4s;
      -moz-transition: color .4s;
      -ms-transition: color .4s;
      -o-transition: color .4s;
      transition: color .4s;

      &::before,
      &::after {
        display: block;
      }

      &::before {
        @media (max-width: $screen-sm - 1) {
          float: left;
          width: 20px;
          height: 20px;
          margin-right: 5px;
          border-radius: 50%;
          background-color: $gray-light;
          font-size: 12px;
          line-height: 20px;
          text-align: center;
        }
      }

      &.prev::before {
        content: "<";

        @media (min-width: $screen-sm) {
          content: "< 上一篇";
        }
      }

      &.next::before {
        content: ">";

        @media (min-width: $screen-sm) {
          content: "下一篇 >";
        }
      }

      &::after {
        content: attr(data-title);
        overflow: hidden;

        // 要用绝对定位是因为文章标题长短不一致，需要让 li 的居中不受文章标题长度影响
        @media (min-width: $screen-sm) {
          position: absolute;
          top: 100%;
        }
      }

      &:hover {
        color: #3e3e3e;
        text-decoration: none;
      }
    }
  }
}