#tag-cloud-list {
  a {
    display: inline-block;
    position: relative;
    margin: 10px;
    border-bottom: 2px solid transparent;
    font-size: 0.8em;
    line-height: 30px;

    &,
    &::after {
      -webkit-transition: all $basic-transition-time;
      -moz-transition: all $basic-transition-time;
      -ms-transition: all $basic-transition-time;
      -o-transition: all $basic-transition-time;
      transition: all $basic-transition-time;
    }

    &::after {
      content: "";
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $tag-cloud-link-underline-color;
    }

    &:hover {
      text-decoration: none;

      &::after {
        background-color: $tag-cloud-link-underline-hover-color;
      }
    }
  }
}