#theme-selector {
  width: 50px;
  min-height: 40px;
  position: fixed;
  right: 20px;
  bottom: 100px;
  z-index: 999;
  text-align: center;
  opacity: 0.2;
  -webkit-transition: all $basic-transition-time;
  -moz-transition: all $basic-transition-time;
  -ms-transition: all $basic-transition-time;
  -o-transition: all $basic-transition-time;
  transition: all $basic-transition-time;

  @media (min-width: $screen-sm) {
    right: 40px;
  }

  &:hover {
    opacity: 1;

    li:not([data-type="back-to-top"]) {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
  }

  li:not([data-type="back-to-top"]) {
    position: relative;
    margin-bottom: 15px;
    -webkit-transition: transform $basic-transition-time;
    -moz-transition: transform $basic-transition-time;
    -ms-transition: transform $basic-transition-time;
    -o-transition: transform $basic-transition-time;
    transition: transform $basic-transition-time;

    button {
      width: 20px;
      height: 20px;
      border: 2px solid #fff;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
      -webkit-box-shadow: 0 0 10px $theme-selector-btn-shadow-color, inset 0 0 5px $theme-selector-btn-shadow-color;
      -moz-box-shadow: 0 0 10px $theme-selector-btn-shadow-color, inset 0 0 5px $theme-selector-btn-shadow-color;
      box-shadow: 0 0 10px $theme-selector-btn-shadow-color, inset 0 0 5px $theme-selector-btn-shadow-color;
      background: #fff;
      -webkit-transition: all $basic-transition-time;
      -moz-transition: all $basic-transition-time;
      -ms-transition: all $basic-transition-time;
      -o-transition: all $basic-transition-time;
      transition: all $basic-transition-time;

      &:hover {
        width: 30px;
        height: 30px;
      }
    }
  }

  li[data-type="back-to-top"] {
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;

    a {
      display: block;
      color: $back-to-top-color;
      padding: 10px 0;
      border: none;
      background-color: transparent;
    }
  }

  button:focus {
    outline: none;
  }
}
