@charset "utf-8";

$theme-map: ("white": $body-background, "yellow": $body-background-theme-yellow, "dark": $body-background-theme-dark);
$theme-number: length(map-keys($theme-map));

#theme-selector {
  @for $i from 1 through ($theme-number - 1) {
    li:nth-child(#{$i}) {
      -webkit-transform: translateY(#{($theme-number - $i) * (20 + 16)}px);
      -moz-transform: translateY(#{($theme-number - $i) * (20 + 16)}px);
      -ms-transform: translateY(#{($theme-number - $i) * (20 + 16)}px);
      -o-transform: translateY(#{($theme-number - $i) * (20 + 16)}px);
      transform: translateY(#{($theme-number - $i) * (20 + 16)}px);
    }
  }

  @each $name, $value in $theme-map {
    li[data-theme="#{$name}"] button {
      background: $value !important;
    }
  }
}

@each $name, $value in $theme-map {
  body[data-theme="#{$name}"] li[data-theme="#{$name}"] {
    z-index: 10;
  }
}

body[data-theme="yellow"] {
  //> div {
    color: $font-color-theme-yellow;
  background-color: map_get($theme-map, "yellow");
  //}

  hr {
    border-color: $yellow-dark;
  }

  #page-masthead {
    color: $top-nav-link-color-theme-yellow;
  }

  #page-title-header,
  #post-title-header {
    color: $yellow-dark;
  }

  #page-mastfoot {
    color: $footer-font-color-theme-yellow;
  }

  #article-post {
    .post-inner-wrap::after {
      color: $article-end-color-theme-yellow;
    }

    blockquote {
      color: $article-quote-color-theme-yellow;
      border-left-color: $article-quote-border-left-color-theme-yellow;
    }
  }

  #page-subtitle a,
  #article-post .content a {
    color: $article-link-color-theme-yellow;
  }

  #article-nav {
    color: $article-nav-color-theme-dark;

    a:hover {
      color: $article-nav-hover-color-theme-dark;
    }
  }

  .post {
    .highlight {
      color: $highlight-foreground-theme-yellow;
      background-color: $highlight-background-theme-yellow;

      .gutter .line {
        color: $font-color-theme-yellow;
      }

      .comment {
        color: $highlight-comment-theme-yellow;
      }
    }

    code {
      color: $highlight-foreground-inline-theme-yellow;
      background-color: $highlight-background-inline-theme-yellow;
    }
  }

  .post-meta {
    color: $article-meta-color-theme-yellow;
  }

  #tag-cloud-list {
    a {
      color: $yellow-dark3 !important;

      &::after {
        background-color: $tag-cloud-link-underline-color-theme-yellow;
      }

      &:hover {
        color: $tag-cloud-link-underline-hover-color-theme-yellow !important;

        &::after {
          background-color: $tag-cloud-link-underline-hover-color-theme-yellow;
        }
      }
    }
  }

  #theme-selector li[data-type="back-to-top"] a {
    color: $back-to-top-color-theme-yellow;
  }
}

body[data-theme="dark"] {
  //> div {
    color: $font-color-theme-dark;
  background-color: map_get($theme-map, "dark");
  //}

  hr {
    border-color: $dark-light;
  }

  #page-masthead {
    color: $home-link-color-theme-dark;
  }

  #page-title-header,
  #post-title-header {
    color: $yellow-dark;
  }

  #page-mastfoot {
    color: $footer-font-color-theme-dark;
  }

  #article-post {
    .post-inner-wrap::after {
      color: $article-end-color-theme-dark;
    }

    blockquote {
      color: $article-quote-color-theme-yellow;
      border-left-color: $article-quote-border-left-color-theme-yellow;
    }
  }

  #page-subtitle a,
  #article-post .content a {
    color: $article-link-color-theme-yellow;
  }

  #article-nav {
    color: $article-nav-color-theme-dark;

    a:hover {
      color: $article-nav-color-theme-dark;
    }
  }

  .post {
    .highlight {
      color: $highlight-foreground-theme-dark;
      background-color: $highlight-background-theme-dark;

      .gutter .line {
        color: $font-color-theme-dark;
      }

      .comment {
        color: $highlight-comment-theme-dark;
      }
    }

    code {
      color: $highlight-foreground-inline-theme-dark;
      background-color: $highlight-background-inline-theme-dark;
    }
  }

  .post-meta {
    color: $article-meta-color-theme-yellow;
  }

  #tag-cloud-list {
    a {
      color: $yellow-dark3 !important;

      &::after {
        background-color: $tag-cloud-link-underline-color-theme-yellow;
      }

      &:hover {
        color: $yellow-dark3 !important;

        &::after {
          background-color: $tag-cloud-link-underline-hover-color-theme-yellow;
        }
      }
    }
  }

  #theme-selector li[data-type="back-to-top"] a {
    color: $back-to-top-color-theme-yellow;
  }
}
