$yellow: #f5f208;
$blue: #09f;

$gray-lighter: #f9f9f9;
$gray-light: #eef2f8;
$gray: #cccccc;
$gray-dark: #9eabb3;

$dark-light: #666666;
$dark: #5d686f;
$dark-darker: #4a4a4a;
$dark-darkest: #171717;

// screen-size
// ====================
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 990px;
$screen-lg: 1200px;
$screen-xlg: 1400px;

// font color
// ====================
$font-color-default: $dark-darker;
$font-color-theme-yellow: $dark-darker;

// body background color
// ====================
$body-background: #fff;
$body-background-theme-yellow: #FDEB71 linear-gradient(135deg, #FDEB71 10%, #F8D800 100%) no-repeat center center fixed;

// mark element
// ====================
$mark-bg-color: #ff0;
$mark-font-color: #333;

// hr
// ====================
$hr-border-color: #ccc;

// a link hover color
// ====================
$link-hover-color: darken($dark-darker, 6%);

// home nav link color
// ====================
$home-link-color: #666;

// footer color
// ====================
$footer-font-color: #c9c9c9;

// top nav color
// ====================
$top-nav-link-color: #777;

// back to top button color
// ====================
$back-to-top-color: #eee;
$back-to-top-hover-color: $dark;

// tag cloud
// ====================
$tag-cloud-link-color: $gray;
$tag-cloud-link-underline-color: $gray;
$tag-cloud-link-hover-color: $link-hover-color;
$tag-cloud-link-underline-hover-color: $link-hover-color;

// article content
// ====================
$article-meta-color: rgba(#4f7a94, 0.8);
$article-quote-color: #6e7e83;
$article-quote-border-left-color: #ccc;
$article-link-color: #09f;
$article-end-color: $gray;
$article-nav-color: $gray-dark;
$article-nav-hover-color: $dark;

// code highlights
// ====================
$highlight-background: rgb(242, 243, 241); //#1E2A2F;
$highlight-background-inline: #eee;
$highlight-foreground: #333; //#cccccc;
$highlight-foreground-inline: #2c7722; //#524D4D;

$highlight-current-line: #393939;
$highlight-selection: #515151;
$highlight-comment: #999;
$highlight-function: #ffcc66;
$highlight-title: #f99157;
$highlight-string: #99cc99;
$highlight-params: #999;
$highlight-built-in: #6699cc;
$highlight-line-number-color: #666;