@charset "utf-8";

.post {
  .post-title,
  .post-meta {
    text-align: center;
  }

  .post-meta {
    margin-bottom: 20px;
    font-size: 14px;
    color: $gray-dark;

    li:not(:last-child)::after {
      content: "|";
      margin-left: 5px;
      margin-right: 5px;
    }

    .post-tags-list {
      @extend .list-inline;

      &::before {
        content: "标签：";
      }

      li:not(:last-child)::after {
        content: "，";
        margin-right: 5px;
      }
    }

    a {
      @include hover-bdbot;
    }
  }

  .post-theme-img {
    display: block;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $screen-sm) {
      max-width: 80%;
    }

    @media (min-width: $screen-md) {
      max-width: 60%;
    }
  }
}

.post-inner-wrap {
  @extend .container;
}

// 列表中的 article
#index-article-list {
  article {
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid $gray-light;

    &:last-child {
      border-bottom: 1px solid $gray-light;
    }

    &:nth-child(2n-1) {
      background-color: $bg-color-default;
    }
  }

  .post {
    .post-title {
      font-size: 1.6rem;

      a:hover {
        text-decoration: none;
      }
    }

    .post-theme-img {
      margin-top: 20px;
    }
  }
}

// 文章页面
#article-post {
  .post {
    overflow: hidden;
  }
  .post-inner-wrap {
    position: relative;
    margin-bottom: 100px;

    &::after {
      content: "— 完 —";
      display: block;
      position: absolute;
      left: 50%;
      bottom: -50px;
      color: $gray;
      font-size: 14px;
      @include transform(translateX(-50%));
    }
  }

  .post-title {
    font-size: 2rem;
  }

  .post-meta {
    margin-bottom: 40px;
  }

  .post-theme-img {
    margin-bottom: 40px;
  }
}

// 文章导航
#article-nav {
  margin-bottom: 80px;
  color: $gray;
  font-size: 0.8em;

  @media (max-width: $screen-sm - 1) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: $screen-sm) {
    text-align: center;
  }

  li {
    @media (min-width: $screen-sm) {
      display: inline-block;
      width: 300px;
    }

    // 链接
    a {
      display: block;
      padding-bottom: 10px;
      position: relative;

      &::before,
      &::after {
        display: block;
        @include transition(all .6s ease);
      }

      &::before {
        @media (max-width: $screen-sm - 1) {
          float: left;
          width: 20px;
          height: 20px;
          margin-top: 1px;
          margin-right: 5px;
          border-radius: 50%;
          background-color: $gray-lighter;
          font-size: 14px;
          line-height: 20px;
          text-align: center;
        }
      }

      &.prev::before {
        content: "<";

        @media (min-width: $screen-sm) {
          content: "< 上一篇";
        }
      }

      &.next::before {
        content: ">";

        @media (min-width: $screen-sm) {
          content: "下一篇 >";
        }
      }

      &::after {
        content: attr(data-title);
        overflow: hidden;

        @media (min-width: $screen-sm) {
          position: absolute;
          top: 40%;
          opacity: 0;
        }
      }

      &:hover {
        color: $link-color-default;
        text-decoration: none;

        &::before {
          @media (max-width: $screen-sm - 1) {
            background-color: $gray-light;
          }
        }

        &::after {
          @media (min-width: $screen-sm) {
            top: 100%;
            opacity: 1;
          }
        }
      }
    }

    &:first-child {
      @media (min-width: $screen-sm) {
        margin-right: 40px;
        text-align: right;

        a::after {
          right: 0;
        }
      }
    }

    &:last-child {
      text-align: left;
    }
  }
}
