@charset "utf-8";

//==
// 导航
//==

#navbar {
  height: $navbar-height;
  margin-bottom: 100px;
}

#site-menu {
  width: 100%;
  background-color: $bg-color-default;
  text-align: center;
  line-height: $navbar-height * 0.4;

  li {
    padding-top: $navbar-height * 0.2;
    padding-bottom: $navbar-height * 0.2;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  a {
    display: block;
    padding: $navbar-height * 0.1;
    @include hover-bdbot;
    color: rgba($dark-light,.8);

    &:hover {
      color: $dark;
    }
  }

  @media (max-width: $screen-sm - 1) {
    display: table;

    li {
      display: table-cell;
    }
  }
}