@charset "utf-8";

.post .content{
   p {
    a {
      margin-left: 5px;
      margin-right: 5px;
      color: $link-color-default;
    }
  }

  // 引用
  blockquote {
    margin: 20px;
    padding: 10px 20px;
    border-left: 4px solid #eee;

    p {
      margin-bottom: 10px !important;
      line-height: 1.2;
    }

    cite::before {
      content: "-";
      margin-left: 5px;
      margin-right: 5px;
    }

    a {
      text-decoration: underline;
    }
  }
}